.recipeSuggestion {
	background-color: #E7E8E7;

	.recipe {
		width: 70%;
		max-width: 700px;
		background: white;
		border-radius: 10px;
		padding: 30px;
		margin: 30px auto;

		.name {
			font-size: 27px;
			line-height: 30px;
			padding: 16px 0;
		}

		.savedTo {
			color: #8c8d8e;
		}

		.checked {
			color: gold;
		}

		.unchecked {
			color: lightgray;
		}

		.stars {
			width: 100%;
			margin-top: 10px;
			clear: both;
			text-align: center;
		}

		.recipeContents {
			width: ~"calc(100% - 30px)";
			padding-bottom: 20px;
			overflow: auto;


			.leftCol {
				width: 45%;
				float: left;

				.recipeImg {
					width: 100%;
					height: 400px;
					background-color: black;
				}
			}
			

			.ingredients {
				float: left;
				padding-left: 40px;
				word-wrap: break-word;
				width: 55%;

				.ingredientsText {
					font-size: 22px;
					margin-bottom: 10px;
				}
			}
		}

		a {
			color: white;

			&:hover {
				text-decoration: none;
			}
		}

		.viewRecipe {
			height: 50px;
			width: 40%;
			min-width: 165px;
			background-color: #E60319;
			border-radius: 5px;
			padding: 12px;
			text-align: center;
			font-weight: 500;
			margin: auto;
		}
	}

	.bold {
		font-weight: 500;
	}
	
}